    #container {
        background-color:white;
    }


    #noticias {
        
    position: absolute;

    }

    .f20 {
        font-size: 20px;
    }

    .div-title:hover {
        height: 150px;
    }